---
Language:     Cpp
BasedOnStyle: GNU
UseTab:       Always
SortIncludes: false
ColumnLimit:  74
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: None
SpaceAfterCStyleCast: true
Standard: Latest
